header {
    grid-row: 1;
    font-weight: bold;
    font-size: large;
    align-self: center;
    font-family: "Cinzel", serif;
    font-size: xxx-large;
    color: white;
    display: inline-grid;
    gap: 10px 50px;
    grid-template-columns: 5px 1fr 2fr 5px;
    grid-template-rows: auto auto;
    justify-items: stretch;
    align-items: center;
    padding-bottom: 30px;
}

#logo {
    width: 30vw;
    height: auto;
    grid-column: 2 / 2;
    justify-items: end;
    align-items: end;
    border: none;
    animation-name: logo;
    animation-duration: 2s;
}

#logoname {
    font-size: 10vw;
    color: white;
    grid-column: 3 / 4;
    justify-items: center;
    align-content: center;
    animation-name: logo;
    animation-duration: 2s;
}

.nav_links {
    margin-bottom: 20px;
    font-size: x-large;
    text-align: center;
    margin: 10px 10px 10px 10px;
    border: 2px solid white;
    background-color: #68750F;
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    grid-column-start: 2;
    grid-column-end: 4;
    align-items: start;

}

.nav_item li a {
    padding: 10px;
}

.nav_item {
    font-size: 10vw;
    color: white;
    text-decoration: none;
    margin: 10px;
}

@keyframes logo {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .75;
    }

    100% {
        opacity: 1;
    }
}


a:link {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #822325;

}

a:visited {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: underline;
    color: #822325;
}

body {
    background-color: #68750F;
    color: #822325;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
}

main {
    grid-row: 2;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto;
    grid-gap: 30px;
    padding: 15px;
    font-family: "Playfair Display", serif;
}

aside {
    grid-row: 3;
    background-color: #363534;
    width: auto;
    color: white;
    align-items: center;
    text-align: center;
    font-size: medium;
    font-family: "Cinzel", serif;
}

.aside_icon {
    width: 40vw;
}

aside figcaption {
    font-size: medium;
    font-style: normal;
}

aside title {
    font-size: large;
}

footer {
    grid-row: 4;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 3fr;
    background-image: url("../images/footer/forest.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 175px;
}

.footer_dnd {
    font-family: "Cinzel", serif;
    font-weight: bold;
    align-self: center;
    text-align: center;
    color: white;
    font-size: xx-large;
}

.disclaimer {
    display: grid;
    grid-template-rows: 1fr 3fr;
    justify-content: end;
    align-items: end;
    color: white;
}

.disclaimer #title {
    font-size: medium;
}

.disclaimer #body {
    font-size: small;
}

.team_main {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    grid-gap: 30px;
    padding: 15px;
    font-family: "Playfair Display", serif;
}

#team_bio #crofoot {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

#team_bio #iroh {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 2;
}

#team_bio #kathra {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 3;
    grid-row-end: 3;
}

#team_bio #lilwyvern {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 4;
    grid-row-end: 4;
}

#team_bio #silas {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 5;
    grid-row-end: 5;
}

#team_card {
    grid-row: 1;
}

#mission_card {
    grid-row: 2;
}

#contact_card {
    grid-row: 3;
}

.card {
    display: grid;
    grid-template-columns: 10px repeat(3, auto) 10px;
    grid-template-rows: 10px repeat(6, auto) 10px;
    border: 5px solid #822325;
    background-color: rgba(245, 237, 156, .75);
    border-radius: 10px;
    padding: .5rem;
}

#card_title {
    font-weight: bold;
    font-size: 6vw;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 2;
    justify-items: center;
    padding-bottom: 5px;
}

#card_body {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
}

#contact_form #card_title {
    padding-top: 10px;
    padding-left: 10px;
}

#contact_form #card_body {
    padding-left: 10px;
}

#urgency_card #card_title {
    padding-top: 10px;
    padding-left: 10px;
}

#urgency_card #card_body {
    padding-left: 10px;
}

#card_img {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    align-self: center;
    justify-self: start;
    width: 80vw;
    height: auto;
}

#h1 {
    font-weight: bold;
    font-size: large;
}

.minor_card {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    padding-left: 10px;
}

.major_card {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
    padding-left: 10px;
}

.critical_card {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 6;
    grid-row-end: 6;
    padding-left: 10px;
}

ul #urgency_card {
    list-style-type: circle;
    padding-left: 30px;
}

.figure_box {
    display: flex;
    flex-flow: column;
    padding: 5px;
    margin: auto;
}

figcaption {
    font-style: italic;
    font-size: small;
    padding-left: 10px;
}

.img_fig {
    width: 60vw;
    align-self: center;
}


#current {
    text-decoration: underline;
}

img {
    margin: 5px;
    border-radius: 5px;
}

button {
    width: 150px;
    background-color: #B8CC52;
    color: #822325;
    border: #822325 solid 1px;
    border-radius: 5px;
    padding: 10px 10px;
    font-family: "Playfair Display", serif;
    text-align: center;
    justify-self: center;
    align-self: start;
    display: inline-block;
    font-size: 16px;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 5;
    grid-row-end: 5;
}

button:hover {
    font-weight: bold;
    opacity: .85;
}

#contact_form {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

form {
    justify-self: center;
}

#contact_form #card_title {
    grid-row: 1;
    grid-column: 1;
}

#contact_form #card_body {
    grid-row: 2;
    grid-column: 1;
}

#contact_form .contact {
    grid-row: 3;
    grid-column: 1;
}

label {
    padding: 10px;
    font-style: italic;
}

input {
    padding: 10px;
}

#contact_form {
    grid-row: 1;
}

#urgency_card {
    grid-row: 2;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-template-rows: repeat(9, auto);
}

.card #missions {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto;
}

#card_title #missions {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column: 1;
}

#card_body #missions {
    grid-row: 2;
    grid-column: 1;
}

/*Skip to Main function*/
.skip a {
    position: absolute;
    top: -40px;
    color: white;
}

.skip a:focus {
    position: absolute;
    top: 0;
    color: white;
}

.gallery {
    grid-row: 4;
    grid-column-start: 2;
    grid-column-end: 4;
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-flow: column;
    border: 2px solid #822325;
    border-radius: 10px;
    gap: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    padding-bottom: 10px;
}

bold {
    font-weight: 900;
}



.img_gal {
    width: 72vw;
    justify-self: center;
    height: auto;
}

@media screen and (min-width:400px) {

    .gallery>div {
        border: 2px solid black;
    }

    /* REQUIREMENTS:
    Change the background color of the body.
    This is a quick check that your media query is correct.
    */

    body {
        /*background-color: orange;*/
    }

    /* REQUIREMENTS:
    Change the grid to two responsive fractional columns.*/

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* CHECKPOINT?
    How tall are the rows?  Why?
    Do the images take up their full row?
    (If not, make your screen smaller but still
    more than 778px.  How about now?) */

    /* REQUIREMENTS
    Uncomment the img selector values below.  */

    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
        margin: 5px;
    }

    img:hover {
        opacity: .75;
    }

    header img:hover {
        opacity: 1;
    }

    /*.img-three,.img-six,.img-nine, footer{
        grid-column: 1/span 2;
    }*/

    /* REQUIREMENTS - Make sure the footer is
    in the vertical center. */
    footer {
        align-self: center;
    }
}

@media screen and (min-width:778px) {

    .gallery>div {
        border: 2px solid black;
    }

    /* REQUIREMENTS:
    Change the background color of the body.
    This is a quick check that your media query is correct.
    */

    body {
        /*background-color: orange;*/
    }

    /* REQUIREMENTS:
    Change the grid to two responsive fractional columns.*/

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* CHECKPOINT?
    How tall are the rows?  Why?
    Do the images take up their full row?
    (If not, make your screen smaller but still
    more than 778px.  How about now?) */

    /* REQUIREMENTS
    Uncomment the img selector values below.  */

    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .img-three,
    .img-six,
    .img-nine,
    footer {
        grid-column: 1/span 2;
    }

    /* REQUIREMENTS - Make sure the footer is
    in the vertical center. */
    footer {
        align-self: center;
    }
}

@media screen and (min-width:900px) {

    .gallery>div {
        border: 2px solid black;
    }

    /* REQUIREMENTS:
    Change the background color of the body.
    This is a quick check that your media query is correct.
    */

    body {
        /*background-color: orange;*/
    }

    /* REQUIREMENTS:
    Change the grid to two responsive fractional columns.*/

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
    }

    /* CHECKPOINT?
    How tall are the rows?  Why?
    Do the images take up their full row?
    (If not, make your screen smaller but still
    more than 778px.  How about now?) */

    /* REQUIREMENTS
    Uncomment the img selector values below.  */

    img {
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    /*.img-three,.img-six,.img-nine, footer{
        grid-column: 1/span 2;
    }*/

    /* REQUIREMENTS - Make sure the footer is
    in the vertical center. */
    footer {
        align-self: center;
    }
}

@media (prefers-reduced-motion) {
    .animation {
        animation: none;
    }
}