header {
    font-style: bold;
    font-size: large;
    float: center;
}

nav {
    font-size: medium;
    display: grid;
    float: center; 
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 10px 10px 50px 50px;
    border: 2px solid black;
    padding: 10px 10px 10px 10px;
}

li {
    display: inline-block;
    width: 100px;
    height: 50px;
    padding: 10px;
    margin: 5px;
}

body {
    font-family:'Courier New', Courier, monospace;
    background-color: #A7C71A;
    color: #822325;
}

/*Skip to Main function*/
.skip a {
    position: absolute;
    top: -40px;
    color: black;
}

.skip a:focus {
    position: absolute;
    top: 0;
    color: black;
}

.gallery {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(7, 300px);
    border: 2px solid black;
}

.gallery > div{
    overflow: hidden;
}

@media screen and (min-width:400px){

    .gallery > div{
        border:  2px solid black;
    }

     /* REQUIREMENTS:
    Change the background color of the body.
    This is a quick check that your media query is correct.
    */

    body {
        /*background-color: orange;*/
    }

    /* REQUIREMENTS:
    Change the grid to two responsive fractional columns.*/

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* CHECKPOINT?
    How tall are the rows?  Why?
    Do the images take up their full row?
    (If not, make your screen smaller but still
    more than 778px.  How about now?) */

    /* REQUIREMENTS
    Uncomment the img selector values below.  */

    img{
        width: 100%;
        height: 100%;
        object-fit: fill;
        margin: 20px 10px 20px 10px;
        padding: 10px 5px 10px 5px;
    }

    img:hover {
        opacity: .5;
    }

    /*.img-three,.img-six,.img-nine, footer{
        grid-column: 1/span 2;
    }*/

    /* REQUIREMENTS - Make sure the footer is
    in the vertical center. */
    footer{
        align-self: center;
    }
}

@media screen and (min-width:778px){

    .gallery > div{
        border:  2px solid black;
    }

     /* REQUIREMENTS:
    Change the background color of the body.
    This is a quick check that your media query is correct.
    */

    body {
        /*background-color: orange;*/
    }

    /* REQUIREMENTS:
    Change the grid to two responsive fractional columns.*/

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    /* CHECKPOINT?
    How tall are the rows?  Why?
    Do the images take up their full row?
    (If not, make your screen smaller but still
    more than 778px.  How about now?) */

    /* REQUIREMENTS
    Uncomment the img selector values below.  */

    img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    .img-three,.img-six,.img-nine, footer{
        grid-column: 1/span 2;
    }

    /* REQUIREMENTS - Make sure the footer is
    in the vertical center. */
    footer{
        align-self: center;
    }
}

@media screen and (min-width:900px){

    .gallery > div{
        border:  2px solid black;
    }

     /* REQUIREMENTS:
    Change the background color of the body.
    This is a quick check that your media query is correct.
    */

    body {
        /*background-color: orange;*/
    }

    /* REQUIREMENTS:
    Change the grid to two responsive fractional columns.*/

    .container {
        display: grid;
        grid-template-columns: 1fr 1fr 2fr;
    }

    /* CHECKPOINT?
    How tall are the rows?  Why?
    Do the images take up their full row?
    (If not, make your screen smaller but still
    more than 778px.  How about now?) */

    /* REQUIREMENTS
    Uncomment the img selector values below.  */

    img{
        width: 100%;
        height: 100%;
        object-fit: fill;
    }

    /*.img-three,.img-six,.img-nine, footer{
        grid-column: 1/span 2;
    }*/

    /* REQUIREMENTS - Make sure the footer is
    in the vertical center. */
    footer{
        align-self: center;
    }
}